.bg-main {
  background-color: #2451b2 !important;
}

.id-column {
  width: 60px;
}

.table-logo-width {
  width: 75px;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}
.w-30 {
  width: 30%;
}

a {
  text-decoration: none;
}
